@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  color: #282727;
}

.navbar {
  background-color: #eae2d7;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2.5rem;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #282727;
}
