@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  color: #dbc3a7;
  background: linear-gradient(to bottom, #000 0%, #06273a);
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  background-color: #000;
}

.logo {
  height: 100px;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2.5rem;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #dbc3a7;
}

.link:hover {
  color: #06273a;
}

.section {
  margin: 4rem 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.section h1 {
  font-size: 2rem;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

.width {
  max-width: 800px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  background-color: #265986;
  color: #dbc3a7;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #3673a8;
}
